
<!-- plantilla_hija.html -->
{% extends "base.html" %}

{% load static %}

{% block contenido %}
<!-- contenido personalizado del bloque "contenido" -->
{% endblock %}




<!DOCTYPE html>
<html lang="es-ar">

<!-- <head>
    <title>Pagina Leila probando</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href=".css">
    
</head>
<body>
    <header>

    </header>
    <main>
    <h1>Esta es nuestra página de Inicio</h1>    
    </main>
    
</body>
</html> -->
<!-- 
</header> 
<main>

    
    <h1>Articulos</h1>
    <ul>
    
         {% for articulo in articulos %}
    
            <h4> {{ articulo.id}} </h4>
            <li> <strong>{{ articulo.titule }}</strong></li>
            <li><strong>{{ articulo.resumen }}</strong></li>
            <li><strong> {{ articulo.contenido }}</strong></li>
            <img src="{{ articulo.imagen.url}}" alt=""    
            <br>
    
        {% empty %} 
            <li>No hay articulos</li>
    
         {% endfor %}
    
    </ul>
    
    
</mains 
<footer> -->