.mt-70 {
    margin-top: 70px;
}

/* =========================================================== */

.w-50 {
    width: 50%!important;
}
/* =========================================================== */

.breadcumb_area .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
  
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.breadcumb_area .breadcrumb-item, .breadcumb_area .breadcrumb-item > a {
    text-transform: capitalize;
    font-size: 14px;
    color: #000000;

}

.breadcrumb-item.active {
    color: #868e96;
}

.backToHome {
    font-size: 12px;
    margin-top: 25px;
    color: #000000;
}


.single_product_desc .title {
    font-size: 24px;
    margin-bottom: 15px;
}

.single_product_desc .title a{
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: none;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.single_product_desc .cart .cart-submit {
    background-color: #f2568c;
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 40px;
    margin-left: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
    padding: .375rem .75rem;
}

.single_product_desc .price {
    margin-bottom: 15px;
}

.single_product_desc .available {
    margin-bottom: 15px;
    font-size: 12px;
}
.cart {
    position: relative;
    z-index: 200;
}

.single_product_desc .card:first-child {
    border-top: 2px solid #ebebeb;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    border-right: none;
}

.single_product_desc .card {
    border: none;
}

.single_product_desc .card-header h6 a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

/* =========================================================== */
.testimonial-info {
    margin-top: 60px;
}

.testimonial-info .tes-thumbnail {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-info .testi-data > p {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 0;
}

.testimonial-info .testi-data span {
    font-size: 12px;
    text-align: left;
    display: block;
    font-weight: 700;
    color: #f2568c;
}

/* =========================================================== */



.cart_area .update-checkout a, .cart_area .back-to-shop a {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    height: 55px;
    line-height: 51px;
    min-width: 120px;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #3a3a3a;
    text-transform: uppercase;
    color: #000000 !important;
}

.cart_area .update-checkout a:first-child {
    color: #7a7a7a;
    border-color: #f4f2f8;
}

.cart_area .update-checkout a:last-child {
    background-color: #f4f2f8;
    color: #7a7a7a;
    border-color: #f4f2f8;
}

.cart-page-heading {
    margin-bottom: 50px;
}

.cart-page-heading h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.cart-page-heading p {
    color: #7a7a7a;
    font-size: 14px;
    margin-bottom: 0;
}

.cart-total-chart {
    background-color: #f4f2f8;
    padding: 30px;
}

.karl-checkout-btn {
    width: 100%;
    height: 60px;
    background-color: #f2568c;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 60px;
    padding: 0;
}

.cart-total-chart li {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart_area table thead {
    background-color: #f4f2f8;
    border: none;
}

.cart_area table thead {
    background-color: #f4f2f8;
    border: none;
}

.cart-table .table td, .cart-table .table th {
    text-align: left;
    vertical-align: middle;
    border: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
}

.btn_wp{
    background: #25d366;
    height: 50px;
    width: 50px;
    right: 91px;
    bottom: 18px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    position: fixed; 
    z-index: 2147483647;
    cursor: pointer;

}